{% extends "base.html" %}

{% block title %} | Product Detail  {% endblock title %}


{% block content %}
<h2> Product Details </h2>
<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top" height="400">
            </div>
          </div>
        </div>

        <div class="col-sm-6 card text-dark bg-info">
            <br/>
            <div class="card text-black bg-light mb-3">
                <div class="card-header bg-secondary"><h3>{{ product.name }}</h3></div>
                <div class="card-body">
                <h5 class="card-title">Category: {{ product.category }}</h5>
                <hr/>
                <p class="card-text">{{ product.description }}</p>
                <p><button class="btn btn-success">Price: Rs.{{ product.price }}</button></p>
                <p>Remaining: {{ product.count }}</p>
                </div>
            </div>           
            <a href="{% url 'buy_product' product.id %}" class="btn btn-primary">Buy <i class="fa-solid fa-cash-register" style="color: #f10404;"></i></a>       
        </div>
    </div>
</div>
{% endblock content %}